.fableContainer {
  overflow: hidden; /* Ensures text below doesn’t wrap around */
}

.fableImage {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  padding: 24px;
  margin-left: -24px;
  margin-top: -24px;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
  float: left;
  shape-outside: inset(0px 0px 0px 0px);
  clip-path: inset(0px 0px 0px 0px);
}

.modalLink {
  position: absolute;
  bottom: -64px;
  right: 0;
  background: var(--mantine-color-indigo-1);
  padding: 8px 16px;
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  outline: none;
}

.fullImageModalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  padding: 0;
}
.fullImageModalContent {
  overflow: hidden;
  flex: none;
  max-height: fit-content;
  border-radius: var(--mantine-radius-md);
  box-shadow: 2px 4px 30px -5px #5e5e5e;
}