

.groupOfButtons {
  gap: 16px;
}
.songImageContainer {
  text-align: center;
  margin-left: -36px;
  margin-right: -36px;

  div {
    margin: auto;
  }
}
.h1 {
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: 0;
  text-align: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: "Ysabeau";

  p {
    margin: 0;
  }
  p:first-child {
    margin-bottom: 36px;
  }
}