.imageAndIntroContainer {
  display: flex;
  margin-bottom: var(--mantine-spacing-lg);
}
.imageContainer {
  border-radius: var(--mantine-radius-md);
  line-height: 0;
  height: max-content;

  img: {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
  margin-right: var(--mantine-spacing-lg);
}

.quotesContainer {
  p::first-letter {
    font-weight: 400;
  }
}

.bookContainer {
  display: flex;
}
.bookImage {
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  min-width: max-content;
  line-height: 0;
  width: 170px;
  height: 246px;
  img: {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
  margin-right: var(--mantine-spacing-lg); 
}
