.imageAndIntroContainer {
  display: flex;
  margin-bottom: var(--mantine-spacing-lg);
}
.imageContainer {
  border-radius: var(--mantine-radius-md);
  line-height: 0;
  height: max-content;

  img: {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
  margin-bottom: var(--mantine-spacing-lg);
}


.bookContainer {
  display: flex;
  padding: 0 !important;
  margin: var(--mantine-radius-md) 0;
}
.bookImage {
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  min-width: max-content;
  line-height: 0;
  width: 170px;
  height: 246px;
  img: {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
  margin-right: var(--mantine-spacing-lg); 
}

.zmistList {
  list-style: none;
  padding-left: 0;
}

.borderRadius, .image2 {
  border-radius: var(--mantine-radius-xl) !important;

  img {
    border-radius: var(--mantine-radius-xl) !important;
  }
}
.image2 {
  padding-right: var(--mantine-spacing-lg);
}