
.imageContainer {
  border-radius: var(--mantine-radius-md);
  line-height: 0;
  height: max-content;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-lg);

  img: {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
}

.quotesContainer {
  p::first-letter {
    font-weight: 550;
  }
}

.zmistList {
  margin-left: -40px;
  margin-right: -40px;

  li {
    margin-top: 20px;
  }
}