
.personBlock {
  border-radius: 180px;
  box-shadow: var(--mantine-shadow-xl);
}

.personDescription {
  padding-right: 80px;
  padding-left: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-md);
}