
$mantine-breakpoint-sm: 900px;

/* 
Fonts:
- "Oswald" (Top Menu, Dropdowns, Buttons, Labels) [variable font ✅] [important]
- "Ysabeau" (H1, H2, Text, Bottom Menu) [variable font ✅] [important]
- Irmologion ieUcs (Old Ukrainian Text) [auxiliary]
*/

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  // font-display: swap;
}
.firstFont {
  font-family: 'Oswald';
  letter-spacing: 0.04rem !important;
  font-weight: 250 !important;
  font-size: 1.25rem;
  line-height: 1.4375rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 0.9rem;
    line-height: auto;
  }
}
.readFontV2 {
  font-family: "Ysabeau";
  font-size: 1.25rem;
  line-height: 1.4375rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.2rem;
    line-height: auto;
  }
}
.disableTextIndent, .disableTextIndent label {
  text-indent: 0;
}

@font-face {
  font-family: 'Ysabeau';
  src: url('/fonts/Ysabeau/Ysabeau-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
  // font-display: swap;
}
@font-face {
  font-family: 'Ysabeau';
  src: url('/fonts/Ysabeau/Ysabeau-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: italic;
  // font-display: swap;
}
.font-ysabeau {
  font-family: 'Ysabeau';
}
.h2-v2 {
  font-family: 'Ysabeau';
  font-style: normal;
  font-weight: 450;
  font-size: 48px;
  line-height: 64px;
}

// @font-face {
//   font-family: 'Arsenal SC';
//   src: url('/fonts/Arsenal_SC/ArsenalSC-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Arsenal SC';
//   src: url('/fonts/Arsenal_SC/ArsenalSC-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Arsenal SC';
//   src: url('/fonts/Arsenal_SC/ArsenalSC-Italic.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Arsenal SC';
//   src: url('/fonts/Arsenal_SC/ArsenalSC-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Amatic SC';
//   src: url('/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Amatic SC';
//   src: url('/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }

h1, h2, h3, h4, h5, h6, .headerFont {
  font-family: 'Ysabeau';
  font-style: normal;
}
.textFont {
  font-family: "Ysabeau";
  font-style: normal;
}
.readFont {
  font-family: "Ysabeau";
}
.linkColor {
  color: var(--mantine-color-blue-7) !important;
}
.linkWithoutDecoration {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--mantine-color-blue-7);
    text-decoration: underline;
  }
}
.activeColor {
  color: var(--mantine-color-blue-7) !important;
}
.grayMenuColor {
  color: #8C8C8C !important;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ysabeau', serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 140px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.06px;
  text-rendering: optimizelegibility;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: clip;
  height: auto !important;

  a {
    text-decoration-thickness: 1px;
  }
}

@media (min-width: $mantine-breakpoint-sm) {
  header {
    height: 98px; // By default it's 100px, but because of special desktop wave header we decrease it
  }
}

.normalContentText, .normalContentText label {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-indent: 24px;
  font-family: "Ysabeau";

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px;
    line-height: 24px;
  }
}
.normalContentText {
  strong {
    font-weight: 400;
  }
}
.normalContentText_lower, .normalContentText_lower * {
  font-size: 18px !important;
}
.normalContentText_justify {
  text-align: justify;
}
.normalContentText_center {
  text-align: center;
  text-indent: 0;
}
.normalContentText_withoutIndent, .normalContentText_withoutIndent label {
  text-indent: 0;
}
.normalContentText_withoutFirstIndent:first-of-type {
  text-indent: 0,
}
.mantine-Select-item,.mantine-Select-option {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  padding: 10px 12px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }
}
.st0 {
  fill: var(--mantine-color-blue-2);
}
.st1 {
  fill: var(--mantine-color-orange-2);
}
.st2 {
  fill: var(--mantine-color-orange-9);
}
.st3 {
  fill: var(--mantine-color-blue-4);
}
.st4 {
  fill: var(--mantine-color-blue-4);
}
.grayForText {
  color: var(--mantine-color-gray-9);
}
.undecoratedLink {
  text-decoration: none;

  &:hover {
    color: var(--mantine-color-blue-5);
  }
}
.blackLink {
  color: black;
}
button:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: var(--mantine-shadow-xs);
}
input:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: var(--mantine-shadow-xs);
}
.fontFamilyOldUa {
  font-family: "Pelagy, Yermak";
}
.bigH1 {
  font-size: 40px;
}
.specialBorder {
  border-width: 2px;
  border-color: var(--mantine-color-blue-0);
}
.textOverflow {
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.mantine-Input-input {
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.mantine-List-itemWrapper {
  text-overflow: ellipsis;
  overflow-x: clip;
  width: calc(100% - 20px);
}
.mantine-Overlay-root.mantine-Modal-overlay {
  background: white;
  opacity: 0.7;
}
.mantine-Modal-body {
  width: 520px;
  position: relative;
}

@font-face {
  font-family: 'Irmologion ieUcs';
  src: url('/IrmIEUcs.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  // font-display: swap;
}

.irmologion {
  font-family: 'Irmologion ieUcs';
}

.mantine-Text-root {
  font-weight: 300;
}
b.mantine-Text-root {
  font-weight: 700;
}

h2, .h2-font {
  font-family: 'Ysabeau';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: black;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}

h3 {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.textWithImageContainer {
  overflow: hidden; /* Ensures text below doesn’t wrap around */
}
.textWithImageContainer__image {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  padding: 24px;
  margin-left: -24px;
  margin-top: -24px;
  margin-right: 24px;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
  float: left;
  shape-outside: inset(0px 0px 0px 0px);
  clip-path: inset(0px 0px 0px 0px);    
  z-index: 1;
  position: relative;
}
.textWithImageContainer__image_clickable {
  cursor: pointer;
}

.slick-prev, .slick-next {
  z-index: 1000;
}

.horizontal-space-sm {
  display: inline-block;
  width: 8px;
  content: '';
}
.sk-global-bible-link {
  color: #1993ff !important;
  font-size: 18px;
}
.sk-global-bible-text {
  color: #d67302 !important;
}
.sk-global-bible-link, .sk-global-bible-text {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  // text-shadow: 0 0 4px #fef7b6;
  cursor: pointer;

  &:hover {
    color: #1993ff !important;
    text-decoration: underline;
    text-decoration-style: solid;

    svg {
      stroke-width: 3px;
    }
  }
}
.sk-global-old-ua-text {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-shadow: 0 0 1px #f8f8f8;
}
.sk-global-old-ua-text-normal {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}
.sk-global-old-ua-text-simple {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
.sk-global-old-ua-text, .sk-global-old-ua-text-simple, .sk-global-old-ua-text-normal {
  cursor: pointer;

  &:hover {
    color: #1993ff !important;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}
.sk-global-old-ua-text-inner {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 26px;
}

.sk-bold-first-letter::first-letter {
  font-weight: 400;
}

.h2__subheader {
  color: #a5a3a3;
  margin: auto;
  width: fit-content;
  font-weight: 550;
  font-size: 28px;
  margin-top: 6px;
}

.w_100 {
  width: 100%;
}