
.searchBox {
  input {
    background: var(--mantine-color-indigo-0);
    border-color: var(--mantine-color-indigo-2);
    font-weight: 300;
    padding-left: 24px;
    
    &::placeholder {
      color: #9b9b9b;
      font-weight: 300;
    }
  }
}
.searchBoxIconSection {
  color: var(--mantine-color-indigo-2) !important;
}

.orderText {
  font-style: italic;
  text-align: center;
  width: 100%;
}

.h2Link {
  color: var(--mantine-color-blue-9) !important;
  text-decoration: none;
}
.linkIcon {
  margin-left: var(--mantine-spacing-xs);
  margin-bottom: -4px;
};
.dates {
  border-left-color: var(--mantine-color-blue-2);
  border-left-style: solid;
  border-left-width: 8px;
}
.dateBoxContainer {
  position: relative
}
.dateBox {
  background: var(--mantine-color-blue-2);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  content: '';
}
.dateBoxTexts {
  justify-content: space-between;
  gap: 0;
}