.timelineItemTitle {
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
}
.itemBullet {
  color: var(--mantine-color-gray-8);
}
.itemBody {
  border-radius: 16px;
  padding: 8px 16px 16px 16px;
  margin-left: 12px;
}