.button {
  background-color: white;
  box-shadow: inset 1px 1px 2px -1px #ebebeb, inset -1px -1px 2px #ffffff, 0 1px 2px -1px #dedede;
  transition: all 0.5s ease;
  border: 0.5px solid #CED4DA !important;
  color: #1078d3;

  &:focus, &:active {
    border: 0.5px solid #1078d3 !important;
  }

  &:hover {
    background-color: #E3FDFF;
    box-shadow:
      inset 4px 4px 8px -2px #E3FDFF, 
      inset -4px -4px 8px #E3FDFF,
      0 1px 4px 0px #dedede;
  }

  // span {
  //   color: #1078d3;
  // }

  strong {
    font-weight: 600;
    // color: #1078d3;
    text-transform: lowercase;
  }
}
