.button {
  background: var(--mantine-color-indigo-0);
  color: black;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.165em;
  text-align: center;
  height: 42px;

  &:disabled,
  &[disabled] {
    background: var(--mantine-color-gray-1);
  }
}