.labelText {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}

.mantineSelectInput {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}

.selectorOption {
  svg {
    margin-right: 8px;
    vertical-align: middle;
  }
}