.labelText {
  font-weight: 250;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03rem;
  font-family: "Oswald";
}

.mantineSelectInput {
  font-family: "Oswald";
}

.selectorOption {
  svg {
    margin-right: 8px;
    vertical-align: middle;
  }
}