.labelText {
  font-weight: 250;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  font-family: "Oswald";
}

.mantineSelectInput {
  margin-left: 2px;
}

.selectorOption {
  svg {
    margin-right: 8px;
    vertical-align: middle;
  }
}