.link {
  text-align: center;

  span {
    color: #333;
  }
}

.iconSection {
  svg {
    stroke-width: 1px;
    margin-top: -1px;
    fill: #e3ecff;
    stroke: #757595;
  }
}

.button {
  background-color: #fafafa;
  box-shadow: inset 4px 4px 8px -2px #ebebeb, inset -4px -4px 8px #ffffff, 0 4px 8px -2px #dedede;
  transition: all 0.5s ease;
  border: 0.5px solid black !important;

  &:focus, &:active {
    border: 0.5px solid #5068a1 !important;
  }

  &:hover {
    background-color: #e7edf7;
    box-shadow:
      inset 4px 4px 8px -2px #e7eaf7, 
      inset -4px -4px 8px #e7eaf7,
      0 6px 10px 0px #dedede;
  }

  span {
    color: #5054a1;
  }

  strong {
    font-weight: 600;
    color: #5063a1;
    text-transform: lowercase;
  }
}
