.titleH1 {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 33px;
  letter-spacing: 0.2em;
  text-align: center;
  color: black;
}
.titleH1Baroque {
  display: inline-block;
}
.containerBaroque {
  position: relative;
  text-align: center;
}
.svg {
  display: block;
  position: absolute;
  fill: #b0bee3;
}
.svgLeft {
  transform: scale(-1, -1) rotate(-22deg);
  top: -14px;
  left: -14px;
}
.svgRight {
  transform: scale(1, -1) rotate(-22deg);
  top: -14px;
  right: -14px;
}
