.titleH1 {
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.15em;
  text-align: center;
  color: black;
  margin-top: 60px;
  margin-bottom: 30px;
}
.titleH1V2 {
  font-family: 'Ysabeau';
  font-size: 48px;
  line-height: 62px;
  max-width: 900px;
  background: #f5fbfe;
  border-radius: 32px;
  padding: 20px 12px;
  color: black;
  margin-top: 80px;
  margin-bottom: 70px;
  border: 1px solid #afafaf;
  font-weight: 500;
}
.titleH1V2_noBg {
  font-family: 'Ysabeau';
  font-size: 48px;
  line-height: 62px;
  max-width: 900px;
  color: black;
  margin-top: 70px;
  margin-bottom: 50px;
  font-weight: 500;
}
.titleH1V2_withBg {
  font-family: 'Ysabeau';
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  max-width: 900px;
  border-radius: 32px;
  padding: 14px 12px;
  color: black;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px solid #575757;
}
.titleBgImageContainer {
  position: absolute;
  top: -1.9rem;
  left: 0;
  width: 100%;
  z-index: -100;
  height: calc(118% + 53px);
}
.titleBgImage {
  width: 1120px;
  opacity: 0.4;
  transform: scaleY(-1);
  margin: auto;
  display: block;
  padding-left: 16px;
  height: -webkit-fill-available;
}
.topContainer {
  position: relative;
}