.titleH2 {
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.04em;
}

.titleH2Qa {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
}