.titleH2 {
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.titleH2Qa {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
}