.title {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.25em;
  color: black;
  z-index: 0;
}
.titleLink {
  margin-left: var(--mantine-spacing-sm);
  margin-right: auto; 
  z-index: 0;
}
.buttonText {
  position: relative;
  color: black;

  p {
    font-weight: 400;
    font-size: 36px;
    line-height: 155%;
    letter-spacing: 0.03em;
  }
}
.logoSvgs {
  position: relative;
  scale: 0.8;
  margin-top: 12px;

  &:hover {
    .logoSvg {
      filter: drop-shadow(3px 1px 5px #1c7fd677);
    }
    .logoSvgDove {
      filter: drop-shadow(-3px -1px 4px #1C7ED666);
    }
  }
}
.logoSvg {
  filter: drop-shadow(3px 1px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in-out;
}
.logoSvgDove {
  position: absolute;
  top: 41px;
  left: -8px;
  filter: drop-shadow(3px 1px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in-out;
}
.svgHeaderBlockContainer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 116px;
  width: 100%;
}
.svgHeaderBlock {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  fill: white;
  stroke: #636363;
  filter: drop-shadow(2px 3px 8px rgba(182, 193, 226, 0.05));
}

.menuPopoverDropdown {
  border-radius: 0;
  border: 1px solid black;
  box-shadow: 2px 2px 4px 2px #e4e4e45c;
  margin-top: 12px;
  padding-top: 24px;
}
.menuIcon {
  display: inline-block;
  margin-left: -12px;
}