.image {
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  min-width: max-content;
  line-height: 0;
  
  img {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
}

.imageWithoutShadow {
  min-width: max-content;
  line-height: 0;
  
  img {
    object-fit: cover;
  }
}