.imageV1 {
  border-radius: var(--mantine-radius-md);
  min-width: max-content;
  line-height: 0;
  
  img {
    border-radius: var(--mantine-radius-md);
    object-fit: cover;
  }
}
.imageShadowV1 {
  box-shadow: var(--mantine-shadow-lg);
}
.imageShadowV2 {
  box-shadow: 7px 3px 12px 1px #dee1eb;
}

.imageWithoutShadow {
  min-width: max-content;
  line-height: 0;
  
  img {
    object-fit: cover;
  }
}