.chip {
  display: inline-block;
  padding: 4px 12px;
  font-weight: 400;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
  border: none;

  &:hover {
    opacity: 0.85;
  }
}

.chipLink {
  cursor: pointer;
}

.srodnist {
  background: var(--mantine-color-green-0);
  color: var(--mantine-color-green-7);
}
.portibne-lehke {
  background: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-7);
}
.love {
  background: var(--mantine-color-red-0);
  color: var(--mantine-color-red-7);
}
.heart {
  background: var(--mantine-color-red-0);
  color: var(--mantine-color-red-7);
}
.shastia {
  background: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-7);
}
.dvi-natury {
  background: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-7);
}
.spiritual-autobiography {
  background: var(--mantine-color-yellow-0);
  color: var(--mantine-color-yellow-8);
}
.parable {
  background: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-7);
}
.fable {
  background: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-7);
}
.treatise {
  background: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-7);
}