.link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  color: #0e3457;
}
.linkWithoutStyles {
  text-decoration-line: none;
  color: black;
}
.linkOnHoverStylesOnly {
  color: black;
}
.linkWidthLimited {
  width: fit-content;
}
.linkThick {
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration-thickness: from-font;
}