
.specialIcon {
  margin-left: 12px;
}

.title {
  display: inline-block;
}

.flex {
  display: flex;
}

.tags {
  display: inline-block;
  margin-left: 12px;
}

.listItem {
  padding: 2px 16px;
  // border-radius: 6px;
  // border: 1px solid #ebebeb;
  // box-shadow: 6px 6px 10px #e9eff7, -6px -6px 10px #ffffff;
}

.link {
  text-decoration: none !important;
  color: var(--mantine-color-blue-6);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.leftSmallIconContainer {
  display: inline-block;
  background-color: var(--mantine-color-gray-1);
  border-radius: 200px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin-right: 8px;
  margin-bottom: -3px;
}
.leftSmallIcon {    
  margin: auto;
  display: block;
  margin-top: 3px;
}
.leftSmallIconBroun {    
  fill: #FECA9A;
  color: #b55700;
}
.leftSmallIconGold {    
  fill: var(--mantine-color-yellow-1);
  color: var(--mantine-color-yellow-8);
}
.leftSmallIconBlue {
  fill: #E7F5FF;
  color: #4b6170;
}
.leftSmallIconGray {
  fill: #E7F5FF;
  color: #6c6d6d;
}
.leftSmallIconLightBlueColorOnly {
  color: var(--mantine-color-blue-3);
}
.songIconContainer {
  margin-left: 12px;
  margin-right: 0;
}